.card {
  height: 100px;
  width: 367px;
  padding: 7px;
  margin: 16px 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000029;
  cursor: pointer;
}

.card--dark {
  background: #f1f1f1;
}

.card:hover {
  transform: translateY(-2px);
  transition: all 0.2s;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  height: 85px;
  /*height: 20%;*/
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  color: #404040;
}

.info--primary {
  font-size: 15px;
  font-weight: 700;
}
.info--secondary {
  font-size: 12px;
}
.info--acesso {
  color: #009ca3;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 600;
}

.horario {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 8px;
  font-weight: 700;
  opacity: 1;
  background: #2b0d61 0% 0% no-repeat padding-box;
  box-shadow: 0 1px 2px #00000029;
  clip-path: circle(50% at 50% 50%);
  margin-right: -20px;
  margin-top: -85px;
}
