* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  background: #F7F7F7;
}

.dark--body {
  background: #222;
  color: #f1f1f1;
}